/* 画面遷移アニメーション .page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.1s;
} */
