@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-50: #fafafa;
    --color-gray-100: #eeeeee;
    --color-gray-200: #dbdbdb;
    --color-gray-300: #c8c8c8;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #71717a;
    --color-gray-700: #404040;
    --color-gray-900: #171717;

    --color-red-100: #ffedd5;
    --color-red-300: #fdba74;
    --color-red-400: #fb923c;
    --color-red-500: #f97316;
    --color-red-700: #c2410c;
    --color-red-900: #7c2d12;
  }
}
