@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-50: #fafafa;
    --color-gray-100: #eeeeee;
    --color-gray-200: #dbdbdb;
    --color-gray-300: #c8c8c8;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #71717a;
    --color-gray-700: #404040;
    --color-gray-900: #171717;

    --color-red-100: #ffe4e6;
    --color-red-300: #fda4af;
    --color-red-400: #fb7185;
    --color-red-500: #f43f5e;
    --color-red-700: #be123c;
    --color-red-900: #881337;

    --color-green-100: #d1fae5;
    --color-green-300: #6ee7b7;
    --color-green-500: #10b981;
    --color-green-700: #059669;
    --color-green-900: #064e3b;
  }
}
